<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Meme Generator</title>
  </head>


  <body>
    <div>
      <div class="home-box">
          <div class="home-text">
            <h1>Create Memes <br> from start to finish</h1>
            <%= link_to 'Get Started', new_meme_path, class: "ui teal button" %>
            <!-- <button class="ui teal button">Get Started</button> -->
          </div>
          
          
      </div>
    </div>

    <div id="move-box" class="ui grid info-box">
        <div class="five wide column center-text">
            <i class="address book icon"></i>
            <p>Customize Memes</p>
        </div>
         
        <div class="five wide column center-text">
            <i class="briefcase icon"></i>
            <p>Share Memes</p>
        </div>
        
        <div class="five wide column center-text">
            <a href="/memes"></a><i class="bullseye icon"></i></a>
            <p>Memes is Life</p>  
        </div>
    </div>


    <!-- <div class="parent-div">
      <div class="child-div">

      </div>

    </div> -->


  
  </body>
</html>
















































<!-- <div class="main">
    <div class="container main-headline">
        <h1>Create Memes <br> from start to finish</h1>
        <%= link_to 'Get Started', new_meme_path, class: "ui teal button", :id => "lg-btn"%>
    </div>
  </div>


  <div class="ui stackable three column grid blue-wrapper ">
    <div class="column box">
      <div class="icon-box">
        <i class="far fa-laugh-beam"></i>
      </div>
      <p>Customize Memes</p>
    </div>
    <div class="column box">
      <div class="icon-box">
        <i class="fas fa-users"></i>
      </div>
      <p>Share Memes</p>
    </div>
    <div class="column box">
      <div class="icon-box">
        <i class="fas fa-lemon"></i>
      </div>
      <p>Memes is Life</p>
    </div>
  </div>

</body> -->