<h1>Detail page</h1>

<div><%= @snack.name %></div>

<div>Calories: <%= @snack.calories %></div>
<div>Deliciousness: <%= @snack.deliciousness %></div>

<%= link_to "Back To Index Page", snacks_path %>