<!DOCTYPE html>
<html>
<head>
    <title>Our fun app</title>
</head>
<body>

    <h1>Hello world from a view</h1>


    <ul>
        <% [1,2,3].each do |num| %>
            <li><%= num * 10 %></li>
        <% end %>
    </ul>

</body>
</html>